*.aux
*.glo
*.ist
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.glg
*.gls
*.zip
sample_glosmathtools.pdf
glosmathtools.tar.gz
ctanify_glosmathtools.sh
sample_glosmathtools_fr.pdf
sample_glosmathtools_en.pdf
